*, *::after, *::before{
  box-sizing: border-box;
  font-family: Arial;
}

html {
  font-size: 16px;
}

body{
  background-color: hsl(240, 3%, 7%);
  /* display: flex; */
  /* flex-direction: column; */
  min-height: 100vh;
  margin: 0;
  padding: 1em;
  /* font-size: clamp(0.8rem, 2.5vmin, 1.5rem); */
}

@media (max-width: 400px){
  body {
    padding: 2px; 
  }
}

.topnav {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  border-bottom: 1px solid #898989;
  & .left { color: #efffff; }
  & .cen {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  & .right {
  }
  & .replay { position: inherit; }
}

.white{
  background-color: #efefef;
}

.title {
  color:hsl(14, 95%, 85%);
}

.hidden{
  opacity: 0;
  transition: all 0.2s;
  display: none;
}

button {
  font-size: inherit;
  background-color: hsl(
    var(--hue, 200),
    var(--saturation, 1%),
    calc(var(--lightness-offset, 0%) + var(--lightness, 51%))
  );
  cursor: pointer;
}

button:hover, button:focus {
  --lightness-offset: 10%;
}

button.pop {
  position: fixed;
  top: 5vh;
  right: 4vw;
  margin: 1em 1em 0 0;
  color: rgb(251, 255, 0);
}

.btn {
  background-color: var(--bg, oklch(0.8 0.11 247));
  background-color: oklch(from var(--bg, oklch(0.8 0.11 247)) calc(l + var(--lightness-offset, 0)) c h);
  border-radius: 0.4em;
  padding: 0.5em;
  line-height: 1;
  cursor: pointer;
  &:hover{
    --lightness-offset: -0.1;    
  }
}

.replay {
  --saturation: 50%;
  --lightness: 75%;
  position: fixed;
  left: 4vw;
  top: 5vh;
  padding: .5em;
  border: none;
  border-radius: 0.5em;
}

.replay:hover { --lightness-offset: -10%; }

/* -- Keyboard */

.keyboard{
  display: grid;
  /* grid-template-columns: repeat(20, minmax(auto, 1.25em)); */
  grid-template-columns: repeat(20, 0.95rem);
  grid-auto-rows: 3em;
  gap: 0.3em;
  justify-content: center;
}

.key {
  grid-column: span 2;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  fill: white;
  text-transform: uppercase;
  border-radius: .25em;
  user-select: none;
  font-size: 1.3rem;
}

.key.enter {
  font-size: 0.9rem;
}

.key.large {
  grid-column: span 3;
}

.key > svg {
   width: 1.75em;
   height: 1.75em;
}

.key:hover, .key:focus {
  --lightness-offset: 10%;
}

.key.wrong{
  --lightness: 23%
}

.key.wrong-location {
  --hue: 49;
  --saturation: 51%;
  --lightness: 47%
}

.key.correct{
  --hue: 115;
  --saturation: 29%;
  --lightness: 43%;
}

/* -- Anagram Game -- */

.grid {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(var(--ncols, 8), var(--colwid, 0.95rem));
  grid-auto-rows: 3em;
  gap: var(--gap, 0.3em);
  justify-content: center;
}

#wrap {
  --ncols: 8;
  --brd: #ffa;
}

#rack {
  --colwid: 2.5em;
  --bg: oklch(0.4 0.1 63);
  --fg: oklch(0.96 0.16 111);
  margin-top: 1em;
  & .key {
    grid-column: span 1;
  }
  & .key.large {
    grid-column: span 2;
  }
}

#attempt{
  --colwid: 3em;
  margin-top: 2em;
}

#answers{
  --ncols: 2;
  --colwid: 8ch;
  display: grid;
  max-width: 400px;
  grid-auto-rows: auto;
  .response {
    color: #fff;
    border: 1px solid #cdcdcd;
    padding: 3px;
  }
}

/* -- Guess Grid -- */

.guess_grid{
  display: grid;
  justify-content: center;
  align-content: center;
  /* flex-grow: 1; */
  grid-template-columns: repeat(5, 4em);
  grid-template-rows: repeat(6, 4em);
  gap: 0.5em;
  margin: 10vh 2px 3vh 2px;
}

.tile {
  --brd: oklch(0.4 0.14 280);
  font-size: 1.4em;
  /* color: rgb(116, 186, 252);  */
  color: var(--fg,  rgb(116, 186, 252));
  background-color: var(--bg, oklch(0.2, 0.1, 0));
  border: 0.05em solid var(--brd);
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  transition: transform 250ms linear;
}

.tile[data-state="active"] {
  /* border-color: hsl(240, 46%, 83%); */
  border-color: oklch(from var(--brd) calc(l + 0.3) c h);
  /* border: 0.05em solid oklch(from var(--brd) calc(l + 0.3) c h); */
}

.tile[data-state="wrong"] {
  border: none;
  color: #efefef;
  background-color: hsl(240, 2%, 23%);
}

.tile[data-state="wrong-location"] {
  border: none;
  color: #efefef;
  background-color: hsl(49, 51%, 47%);
}

.tile[data-state="correct"] {
  border: none;
  color: #efefef;
  background-color: hsl(115, 29%, 43%);
}

.tile.flip {
  transform: rotateX(90deg);
}

.tile.shake {
  animation: shake 250ms
}

@keyframes shake {
  10% {
    transform: translateX(-5%);
  }
  30% {
    transform: translateX(5%);
  }
  50% {
    transform: translateX(-7.5%);
  }
  70% {
    transform: translateX(7.55%);
  }
  90% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0);
  }
}

.tile.dance {
  animation: dance 500ms
}

@keyframes dance {
  20% {
    transform: translateY(-50%);
  }
  40% {
    transform: translateY(5%);
  }
  60% {
    transform: translateY(-25%);
  }
  80% {
    transform: translateY(2.5%);
  }
  90% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0);
  }
}

/* Alerts and popups */

.pop-div{
  position: absolute;
  top: 0;
  right: 0;
  background-color: #efefef;
  padding: 0.5em;
  z-index: 1;
  padding-top: 2em;
  font-size: 1rem;
}

.pop-div .close {
  --fg: #898989;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  border: 1px solid #efefef;
  &:hover{
    background-color: #ffefef;
    border-color: #00f;
  }
}


.alert-container {
  position: fixed;
  top: 10vh;
  left: 50vw;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alert {
  pointer-events: none;
  background-color: hsl(14, 95%, 85%);
  padding: .75em;
  border-radius: .25em;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
  margin-bottom: .5em;
}

.alert.go {
  background-color: hsl(186 66% 45%);
  color: #fff;
}

.alert:last-child{
  margin-bottom: 0;
}

.alert.hide{
  opacity: 0;
 }
