localhost:2016 {
	tls {env.SSL_CERT} {env.SSL_KEY}
	file_server browse {
		hide *~ #*
	}
	respond "Hello, world from 2016!"
}

w.dev.test:2017 {
	tls {env.SSL_CERT} {env.SSL_KEY}
	file_server browse {
		hide *~ #*
	}
}


localhost:2015 {
  root * /Users/mu09/dev/wordle
  file_server browse
}

localhost {
 respond "Hello, World from Local"
}